body {
    margin: 0;
    font-family: Roboto;
    color: rgb(222, 232, 244);
    font-size: 2rem;
    background-color: rgb(249, 250, 184);
  }
  
  .sol-menu {
    width: 65vw;
    height: 100vh;
    background-color: rgb(181, 127, 41);
    position: absolute;
    top: 0;
    left: -40vw;
    transition: left 2s;
    
  }
  .sol-menu:hover {
    left: 0;
  }
  
  .sol-menu .title {
    position: relative;
    background-color: rgb(246, 156, 12);
    padding: 0.3rem;
  }
  
  .sol-menu .title i {
    position: absolute;
    right: 0.5rem;
    transition: transform 1s;
  }
  
  .sol-menu:hover i {
    transform: rotate(270deg);
  }
  
  .sol-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0.5rem;
  }
  
  .sol-menu ul a {
    display: block;
    text-decoration: none;
    color: rgb(177, 238, 184);
    padding: 0.7rem;
  }